# GCC
build:gcc --cxxopt="-std=c++17"

build:gcc:debug -c dbg
build:gcc:debug --cxxopt="-std=c++17"
build:gcc:debug --copt="-g"
build:gcc:debug --strip="never"

# MSVC
build:msvc --cxxopt="/std:c++17"
